<table id="cart-table" class="table table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
    </thead>
        {% for item in request.session.cart_items %}
            <tr>
                <td>
                    <span>{{ item.id }}</span>
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.price }}
                </td>
                <td>
                    1
                </td>
                <td>
                    {{ item.price }}
                </td>
                <td>
                    <button>Удалить</button>
                </td>
            </tr>
        {% endfor %}
</table>