{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extra_css %}
    <style>
        span {
            cursor: pointer;
        }

        .minus, .plus {
            width: 21px;
            height: 3px;
            background: #f2f2f2;
            border-radius: 4px;
            border: 1px solid #ddd;
            display: inline-table;
            vertical-align: middle;
            text-align: center;
        }

        .sales-input {
            height: 27px;
            width: 50px;
            text-align: center;
            font-size: 15px;
            border: 1px solid #ddd;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
        }
        .sales-input2{
            height: 27px;
            width: 50px;
            text-align: center;
            font-size: 15px;
            border: 1px solid #ddd;
            border-radius: 2px;
            display: inline-block;
            vertical-align: middle;
        }
        .total-field{
            width: 75px;
        }

        .dataTables_filter {
           float: left !important;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Новая ветка</h1>
    <div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                {% include 'sales/items.html' %}
                {% if page_num > 1 %}
                    <a href="?page=1"> &nbsp; << &nbsp; </a>
                {% endif %}
                {% if items.has_previous %}
                    <a href="?page={{ items.previous_page_number }}">&nbsp; < &nbsp;</a>
                {% endif %}
                Страница {{ page_num }} из {{ pages_count }}
                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}"> &nbsp; > &nbsp; </a>
                {% endif %}
                {% if page_num != pages_count %}
                    <a href="?page={{ pages_count }}"> &nbsp; >> &nbsp; </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <form id="form">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    {% include 'sales/cart-items.html' %}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    {% include 'sales/get-items.html' %}
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            var itemTable = $('#data-table').DataTable({
                responsive: true,
                paging: false,
                pageLength: 20,
                searching: true,
                ordering: false,
                autoWidth: false,
                dom: '<"pull-left"f><"pull-right"l>tip',
                initComplete: function () {
                    var searchField = $('.dataTables_filter input[type="search"]');
                    searchField.css({'width': '500px', 'display': 'inline-block'});
                    searchField.addClass('mr-auto')
                }
            });
            $(document).on('change', '.sales-input2', function (e){
                 let $input_change = $(this).parent().find('input');
                 let $tds = $(this).parent().parent().parent().find('td');
                 let stock = parseInt(cartTable.row($tds).data()[6]);
                 let num = parseInt($input_change[0].value);
                 if (num > stock){
                     num = stock
                     $input_change[0].value = num
                 }
                 let price = parseFloat($tds[1].childNodes[0].nodeValue);
                 let $total = $tds[4].children[0].children[0];
                 $total.value = String(price * num);
                 cartTable.row().data()[4] = String(num * price);
                 calc_cart();
                 return false;
             });
            $(document).on('keyup keypress blur change', '.sales-input', function (e) {
                var limit = $(this).attr('max');

                if(limit) {
                    if ($(this).val() > limit) {
                        $(this).val(limit);
                    }
                }

                if ($(this).val() < 0) {
                    $(this).val(0);
                }

                if ($(this).val() < 0) {
                    $(this).val(0);
                }

                var parentTr = $(this).parents('tr');
                var id = cartTable.row(parentTr).row(':last-child').data()[7];
            });

            $('.addItem').click(function () {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');
                var price = $(this).attr('data-price');
                let item_in_cart = {}
                item_in_cart.id = id
                item_in_cart.name = name
                item_in_cart.price = price
                let form = document.getElementById('form')
                form.action = 'sales'
                let item_cart = document.createElement('input')
                item_cart.value = JSON.stringify(item_in_cart)
                item_cart.name = 'cart_item'
                form.appendChild(item_cart)
                form.submit()
            });
            $(document).on('click', '.removeItem', function (e) {
                var parentTr = $(this).parents('tr');
                var id = cartTable.row(parentTr).data()[7];
                cartTable.row(parentTr).remove().draw(false);
                $('#item-'+id.toString()).parents('tr').removeClass('d-none');
                calc_cart();
            });
            function calc_cart(){
                let itogo = 0;// Итоговая потребительская сумма
                let table_cart = document.getElementById('cart-table').children[1] // тело таблицы
                for (let i = 0; i < cartTable.rows().count(); i++){
                    itogo += parseFloat(table_cart.children[i].children[4].children[0].children[0].value);
                }
                document.getElementById('itogo_table').children[0].children[0].children[1].innerHTML =
                     "<h4><u>" + String(itogo) + "</u></h4>";
                return false;
            }
        });

    </script>
{% endblock %}